.vscode/
*/__pycache__/*
*.pyc
*.json
*.csv
*.log
*.zip
*.xml
*.keytab
*.tgz
*.tar.gz
*.db
*.lock
.DS_Store
.pytest_cache/
.idea/
.coverage
.coverage.*
.gitconfig
pylint.html
codeclimate.json
coverage.xml
Pipfile.lock
tmp/
nohup.out
dask-worker-space
